#mainDiv {
  text-align: center;
  font-family: Veranda, Arial, sans-serif;
  height: 95vh;
}

#progressDiv {
  height: 1%;
}

#progressBar {
  height: 100%;
  background-color: #99b3ff;
  border-radius: 4px;
}

#headDiv {
  font-size: 30px;
  height: 5%;
}

#contentDiv {
  height: 85%;
  overflow: scroll;
}

#referenceDiv {
  height: 3%;
  text-align: left;
  color: #595959;
  font-size: 10px;
  display: flex;
}

#referenceText {
  align-self: flex-end;
}

#buttonDiv {
  height:  5%;
}

.navButton {
  background-color: #ffffff;
  border: none;
  color: black;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  margin-left: 50px;
  border-radius: 8px;
}

.navButton:hover {
  background-color: #f2f2f2;
}